@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #333333; 
  --navbar-background: #ffffff; 
  --navbar-text: #333333;
  --search-background: #f3f4f6;
  --search-text: #333333; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff; 
    --navbar-background: #1a1a1a; 
    --navbar-text: #eeeeee; 
    --search-background: #2d2d2d; 
    --search-text: #ffffff; 
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Roboto", sans-serif;
}

/* Navbar */
nav {
  background: var(--navbar-background);
  color: var(--navbar-text);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Search Bar */
input[type="text"] {
  background: var(--search-background);
  color: var(--search-text);
  border-radius: 999px;
  padding: 10px 15px;
  border: none;
  outline: none;
}
